ul{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: #779660; 
    width: 883px;
    align-items: center;
    justify-content: center;
    
}
li{ 
    float: left; 
}
li a, .dropbtn{
    display: inline-block; 
    display: block; 
    color: rgb(25, 23, 23); 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}
li a:hover, .dropdown:hover .dropbtn{ 
    background-color: #7f6363; 
}
li.dropdown{ 
    display: inline-block; 
}
.dropdown-content{ 
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
}
.dropdown-content a{ 
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    text-align: left; 
}
.dropdown-content a:hover{ 
    background-color: #e8d0d0; 
}
.dropdown:hover .dropdown-content{ 
    display: block; 
}

.logo{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 883px
    height: 200px;
    padding: 10px; 
    margin-top: 10px; 
    margin-bottom: 0px
    border: 1px solid black; 
    border-radius: 50%;
    text-align: center;
}
img {
    display: block;
    margin: auto;
}


